
.imageContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* grid-cols-2 */
    grid-template-rows: repeat(2, 1fr); /* grid-rows-2 */
    gap: 1em;
    align-items: center;
    justify-items: center;
}

.images {
    position: relative;
    height: 17vw;
    width: 17vw;
    opacity: 1;
    cursor: pointer;
}

.images:hover {
    opacity: 80%;
}

h1.cityTitle {
    color: #fff;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.578);
}

.textContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr;
    padding: 5px 10px 10px 10px;
}
  
.subtitleContainer {
    display: flex;
    align-items: center;
}
  
h2.countryTitle {
    margin: 0;
    color: #fff;
    box-sizing: border-box;
    font-size: 15px;
}
  
.smallImage {
    height: auto;
}

@media (max-width: 768px) {
    .images {
        height: 35vw;
        width: 35vw;
    }
    .cityTitle{
        font-size: 3vw;
    }
    .countryTitle{
        font-size: 1vw;
    }
}