
.navContainer {
    background-color: #fff; /* bg-white */
    display: flex; /* flex */
    justify-content: space-between; /* justify-between */
    align-items: center; /* items-center */
    padding: 0.5rem 0.2rem; /* py-1.5 */
    position: sticky; /* sticky */
    top: 0; /* top-0 */
    z-index: 5;
}

.navList {
    display: flex;
    /*gap: 2rem;  gap-8 (8 multiplied by 0.25rem, which is the default gap unit in Tailwind CSS) */
    padding-right: 0%
}

.baseClass {
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 1rem; 
    padding: 1.25rem 1.25rem; 
    color: #065E33;
}

.baseClass:hover {
    background-color: #B3E0CA;
}

.activeTab {
    background-color: #065E33;
    color: #d9e3de;
    pointer-events: none;
}

.tabs {
    text-transform: uppercase;
    font-family: 'DM Sans', sans-serif;
    color:#04371E;
    font-weight: 500;
}

.tabs:hover {
    color: #059669; /* The hexadecimal value for text-emerald-700 in Tailwind CSS */
}

.menu {
    display: none;
}

.menu ul li ul {
    display: none;
}

.activeDropdownTab {
    font-weight: bold;
    color: #065E33;
  }

.showMobileMenu {
    display: block; 
}

.dropdown {
    display: none; 
    visibility: hidden;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .navList {
      display: none; 
    }

    .menu {
        display: flex;
    }

    .menu ul {
        display: flex;
        background-color: white;
    }
    .menu ul li{
        padding-right: 20px;
    }
  
    .menu ul li ul {
        visibility: hidden;
        display: none;
        opacity: 0;
        position: absolute;
        padding-left: 0;
        right: 0;
        
    }

    .menu ul li:hover>ul, .menu ul li ul:hover {
        visibility: visible;
        opacity: 1;
        display: flex;
        min-width: 250px;
        padding-top: 20px;
        margin-top: 0em;
        z-index: -1;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .menu ul li ul li {
        margin-bottom: 20px;
    }

    .menu ul li ul li a {
        transition: all 0.5s ease;
        text-decoration: none;
    }

    .menu ul li ul li a:hover {
        padding-left: 10px;
        border-left: 2px solid var(--primary-dark-color);
    }

    .showMobileMenu .dropdown {
        display: block;
        visibility: visible;
      }
    
    .menu ul {
        display: flex;
        flex-direction: column;
        padding-left: 0;
      }

}
