@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-light-color: #d9e3de;
  --secondary-light-color: #B3E0CA;
  --primary-dark-color: #065E33;
  --secondary-dark-color: #065E35;
  --primary-darker-color: #04371E;
  --text-medium-color: #6E8199;
  --text-dark-color: #404B59;
  --text-light-color: #EDEDED;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

h1{
  font-weight: bolder;
  font-size: x-large;
  
}

h2{
  columns: var(--primary-darker-color);
  font-weight: bold;
  font-size: large;
}

li{
  color: var(--text-medium-color);
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote p {
  display: inline;
}

