.searchMain {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 40px;
    padding-bottom: 100px;
}

.searchBarContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: var(--text-light-color);
    padding: 80px 0px;
}

.searchBarContainer .header1{
    width: fit-content;
    font-size: 2vw;
    font-weight: 700;
    color: var(--primary-darker-color);
    text-shadow: 0.5px 0.5px 2px rgba(0, 0, 0, 0.091);
    letter-spacing: 0.05rem;
    padding: 0px 20px;
}

.searchBarContainer .searchForm{
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 10px 15px;
    border-radius: 30px;
}

.searchBarContainer .searchForm .searchInput {
    border: none;
    outline: none;
    width: 25vw;
}

.searchBarContainer .searchForm .searchIcon {
    padding: 2px;
}

.reset {
    background-color: var(--primary-light-color);
    color: var(--primary-dark-color);
    border-radius: 5vw;
    padding: 5px 20px 5px 20px;
    text-transform: uppercase;
    font-size: 1vw;
}

.reset:hover{
    cursor: pointer;
    background-color: var(--secondary-light-color);
    color: var(--primary-darker-color);
}


.suggestionsContainer {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2vw;
    padding: 0px 20px;
}

.suggestionsHeader {
    width: fit-content;
    font-weight: 700;
    color: var(--primary-darker-color);
    font-size: 1.5vw;
    margin-left: 2%;
}

.destinationsSuggestions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 2vw;
    padding: 0px 20px;
}

 .destinationCard {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    position: relative;
}

 .destinationCard:hover{
    transform: scale(1.05);
    background-color: rgba(237, 237, 237, 0.635);
    cursor: pointer;
}

 .destinationCard .name{
    font-size: 1.5vw;
    font-weight: bolder;
    color: var(--primary-darker-color);
    padding: 5px 0px;
}

 .destinationCard .country{
    color: var(--text-medium-color);
    font-size: 1vw;
}

.destinationCard .imageContainer{
    position: relative;
}

.destinationCard .destinationImage{
    height: 10vw;
    width: 20vw;
    object-fit: cover;
    border-radius: 15px;
}

 .destinationCard .heart {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: white;
    color: black;
    padding: 1vw;
    border-radius: 46%;
    width: 3vw;
    height: 3vw;
    margin: 2px;
}

.failedSearchText {
    font-size: larger;
    margin-left: 2%;
}

@media (max-width: 768px) {
    .searchBarContainer .header1 {
        font-size: 7vw;
        text-align: center;
    }

    .searchBarContainer .searchForm .searchInput {
        width: 50vw;
    }

    .reset {
        border-radius: 10vw;
        font-size: 3vw;
    }

    .suggestionsContainer {
        row-gap: 7vw;
        padding: 0px 20px;
    }

    .suggestionsHeader {
        font-size: 4vw;
    }

    .destinationsSuggestions {
        grid-template-columns: 1fr 1fr;
        column-gap: 5vw;
        row-gap: 5vw;
        padding: 0px 10px;
    }

    .destinationCard {
        padding: 2vw;
    }

    .destinationCard .name {
        font-size: 3vw;
        padding: 0px 3px;
        margin-top: 3px;
    }

    .destinationCard .country {
        font-size: 2.5vw;
        padding-left: 3px;
        margin-bottom: 3px;
    }

    .destinationCard .destinationImage {
        border-radius: 10px;
        height: 25vw;
        width: 40vw;
    }

    .destinationCard .heart {
        padding: 1vw;
        width: 6vw;
        height: 6vw;
    }
}